#bagn {
    width: 800px; 
    height: 200px;
 
}
#div1{
    background-color: rgb(196, 219, 219);
}

#div11{
    text-align: left;
}
ul {
    list-style-type: none;
  }
  
#astro{
    width: 200px; 
    height: 100px; 
}

#dark{
    width: 200px; 
    height: 100px; 
}
#screen{
    width: 200px; 
    height: 100px; 
}
body{
    text-align: center;
}
#bas{
    text-align: right;
}
header{
    text-align: center;
}


img{
    text-align: center;
}
h3{
    text-align: left;
    text-decoration-style: dotted 
}