h1 {
    text-align: center;
}

li {
    float: left;
    width: 100px;
}

ul {
    margin-left: 36%;
    margin-top: 40px;

}

#div0 {
    margin-top: 30px;
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#div1 {
    margin-left: 100px;
    width: 300px;
}

#div3 {
    margin-left: 100px;
    width: 300px;
}

footer {
    margin-left: 100px;
}