p{
    background-color: rgb(211, 211, 211);
    border: solid green;
}
#p1{
    height: 100px;
    margin: -8px;
}
#p2{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    
}

#p3{
    height: 200px;
    width: 200px;
    margin: auto;
}

body{
    background-color: blueviolet;
}